Repository SolarArbiter/solarforecastarbiter-core, pull requests merged in 2019-12, with the labels that each got.

#224 Metrics deterministic results
  docs/source/api.rst
  docs/source/whatsnew/1.0.0b3.rst
  solarforecastarbiter/conftest.py
  solarforecastarbiter/datamodel.py
  solarforecastarbiter/io/tests/test_api.py
  solarforecastarbiter/metrics/calculator.py
  solarforecastarbiter/metrics/deterministic.py
  solarforecastarbiter/metrics/tests/test_calculator.py
  solarforecastarbiter/reports/figures.py
  solarforecastarbiter/reports/main.py
  solarforecastarbiter/reports/template.py
  solarforecastarbiter/reports/templates/metrics_date.md
  solarforecastarbiter/reports/templates/metrics_day.md
  solarforecastarbiter/reports/templates/metrics_hour.md
  solarforecastarbiter/reports/templates/metrics_month.md
  solarforecastarbiter/reports/templates/metrics_total.md
  solarforecastarbiter/reports/templates/metrics_weekday.md
  solarforecastarbiter/reports/templates/metrics_year.md
  solarforecastarbiter/reports/templates/template.md
  solarforecastarbiter/reports/tests/test_figures.py
  solarforecastarbiter/reports/tests/test_reports_main.py
  solarforecastarbiter/tests/data/report_metadata.json
  solarforecastarbiter/tests/test_cli.py
Labels: enhancement, metrics, reports

#268 metrics: deterministic: add NMAE and NMBE
  docs/source/api.rst
  docs/source/whatsnew/1.0.0b3.rst
  solarforecastarbiter/metrics/deterministic.py
  solarforecastarbiter/metrics/tests/test_deterministic.py
Labels: metrics

#274 add subsubsections to metrics api doc
  docs/source/api.rst
Labels: documentation, metrics

#271 metrics: add additional tests
  solarforecastarbiter/metrics/tests/test_deterministic.py
Labels: metrics

#278 fix plot limits for newer metrics
  docs/source/whatsnew/1.0.0b3.rst
  solarforecastarbiter/reports/figures.py
Labels: reports

#279 metrics: complete `_MAP`, `_REQ_REF_FX`, `_REQ_NORM`
  solarforecastarbiter/metrics/deterministic.py
  solarforecastarbiter/metrics/probabilistic.py
Labels: metrics

#280 metrics: handle exceptions in pearson_correlation_coeff
  solarforecastarbiter/metrics/deterministic.py
  solarforecastarbiter/metrics/tests/test_deterministic.py
Labels: bug

#283 swap categories keys values, drop day of month category
  docs/source/whatsnew/1.0.0b3.rst
  solarforecastarbiter/conftest.py
  solarforecastarbiter/datamodel.py
  solarforecastarbiter/io/tests/test_api.py
  solarforecastarbiter/metrics/calculator.py
  solarforecastarbiter/metrics/tests/test_calculator.py
  solarforecastarbiter/reports/figures.py
  solarforecastarbiter/reports/template.py
  solarforecastarbiter/reports/templates/metrics_date.md
  solarforecastarbiter/reports/templates/metrics_hour.md
  solarforecastarbiter/reports/templates/metrics_month.md
  solarforecastarbiter/reports/templates/metrics_total.md
  solarforecastarbiter/reports/templates/metrics_weekday.md
  solarforecastarbiter/reports/templates/metrics_year.md
  solarforecastarbiter/reports/templates/template.md
  solarforecastarbiter/reports/tests/test_figures.py
  solarforecastarbiter/reports/tests/test_reports_main.py
  solarforecastarbiter/tests/test_datamodel.py
Labels: api, bug

#286 Add metrics mappings to data model
  docs/source/whatsnew/1.0.0b3.rst
  solarforecastarbiter/datamodel.py
  solarforecastarbiter/metrics/calculator.py
  solarforecastarbiter/metrics/deterministic.py
  solarforecastarbiter/metrics/probabilistic.py
Labels: api, metrics

#289 add link to html, gpg sig, fix toc spacing
  docs/source/whatsnew/1.0.0b3.rst
  solarforecastarbiter/reports/templates/template.md
  solarforecastarbiter/tests/data/report_metadata.json
  solarforecastarbiter/tests/test_cli.py
Labels: reports

#288 metrics: preprocessing: drop NaNs explicitly
  solarforecastarbiter/conftest.py
  solarforecastarbiter/metrics/preprocessing.py
  solarforecastarbiter/metrics/tests/test_preprocessing.py
  solarforecastarbiter/tests/test_cli.py
Labels: metrics, reports

#294 metrics: add summary statistics
  solarforecastarbiter/metrics/summary.py
  solarforecastarbiter/metrics/tests/test_summary.py
Labels: metrics

#296 metrics: preprocessing: handle empty obs Series
  docs/source/whatsnew/1.0.0b4.rst
  solarforecastarbiter/metrics/preprocessing.py
  solarforecastarbiter/metrics/tests/test_preprocessing.py
Labels: bug, metrics
