Repository SolarArbiter/solarforecastarbiter-core, pull requests merged in 2019-09, with the labels that each got.

#172 convert resampled obs, fx to site tz
  docs/source/whatsnew/1.0.0b.rst
  solarforecastarbiter/cli.py
  solarforecastarbiter/conftest.py
  solarforecastarbiter/datamodel.py
  solarforecastarbiter/reports/figures.py
  solarforecastarbiter/reports/main.py
  solarforecastarbiter/reports/metrics.py
  solarforecastarbiter/reports/template.py
  solarforecastarbiter/reports/templates/head.html
Labels: bug, metrics, reports

#174 slice with consistent tz
  docs/source/whatsnew/1.0.0b.rst
  solarforecastarbiter/io/tests/test_api.py
  solarforecastarbiter/io/tests/test_io_utils.py
  solarforecastarbiter/io/utils.py
Labels: api, infrastructure, testing

#176 bigger metrics table, summary graphics
  docs/source/whatsnew/1.0.0b.rst
  solarforecastarbiter/reports/figures.py
Labels: bug, reports

#178 handle when fx or obs are empty in current calculate metrics
  docs/source/whatsnew/1.0.0b.rst
  solarforecastarbiter/reports/metrics.py
  solarforecastarbiter/reports/tests/test_metrics.py
Labels: bug, reports

#181 add decorator so Api can accept str or time obj start/end
  docs/source/whatsnew/1.0.0b.rst
  solarforecastarbiter/io/api.py
  solarforecastarbiter/io/tests/test_api.py
  solarforecastarbiter/io/tests/test_io_utils.py
  solarforecastarbiter/io/utils.py
Labels: IO, api, bug

#183 fix return/assignment of None, bad kwarg handling
  docs/source/whatsnew/1.0.0b.rst
  solarforecastarbiter/reference_forecasts/main.py
  solarforecastarbiter/validation/tasks.py
  solarforecastarbiter/validation/validator.py
Labels: bug

#171 Add deterministic metrics
  docs/source/api.rst
  docs/source/whatsnew/1.0.0b.rst
  solarforecastarbiter/metrics/deterministic.py
  solarforecastarbiter/metrics/tests/test_deterministic.py
  solarforecastarbiter/reports/metrics.py
Labels: enhancement, metrics, reports

#188 fix resampled/aligned observation/forecast labels in report
  docs/source/whatsnew/1.0.0b.rst
  solarforecastarbiter/reports/main.py
  solarforecastarbiter/reports/template.py
  solarforecastarbiter/reports/templates/template.md
Labels: bug, reports

#187 add probabilistic forecast classes to datamodel
  docs/source/api.rst
  docs/source/whatsnew/1.0.0b.rst
  solarforecastarbiter/conftest.py
  solarforecastarbiter/datamodel.py
  solarforecastarbiter/io/tests/test_api.py
  solarforecastarbiter/tests/test_datamodel.py
Labels: enhancement

#189 cli doc page
  docs/source/cli.rst
  docs/source/index.rst
  docs/source/whatsnew/1.0.0b.rst
Labels: documentation

#192 fix non-tuple default report filter
  docs/source/whatsnew/1.0.0b.rst
  solarforecastarbiter/cli.py
  solarforecastarbiter/datamodel.py
  solarforecastarbiter/tests/test_datamodel.py
Labels: bug, reports

#191 add probabilistic forecasts to APISession
  docs/source/api.rst
  docs/source/whatsnew/1.0.0b.rst
  solarforecastarbiter/conftest.py
  solarforecastarbiter/io/api.py
  solarforecastarbiter/io/tests/test_api.py
Labels: api, enhancement

#193 implement probabilistic forecast using GEFS
  docs/source/api.rst
  docs/source/reference-forecasts.rst
  docs/source/whatsnew/1.0.0b.rst
  solarforecastarbiter/io/nwp.py
  solarforecastarbiter/reference_forecasts/forecast.py
  solarforecastarbiter/reference_forecasts/main.py
  solarforecastarbiter/reference_forecasts/models.py
  solarforecastarbiter/reference_forecasts/tests/test_main.py
  solarforecastarbiter/reference_forecasts/tests/test_models.py
Labels: enhancement, referencefx

#190 adjust air temp and wind speed validation limits
  docs/source/whatsnew/1.0.0b.rst
  solarforecastarbiter/validation/tests/test_validator.py
  solarforecastarbiter/validation/validator.py
Labels: bug

#186 account for interval label in reference NWP forecasts
  docs/source/api.rst
  docs/source/conf.py
  docs/source/reference-forecasts.rst
  docs/source/whatsnew/1.0.0b.rst
  solarforecastarbiter/io/utils.py
  solarforecastarbiter/reference_forecasts/forecast.py
  solarforecastarbiter/reference_forecasts/main.py
  solarforecastarbiter/reference_forecasts/models.py
  solarforecastarbiter/reference_forecasts/persistence.py
  solarforecastarbiter/reference_forecasts/tests/test_forecast.py
  solarforecastarbiter/reference_forecasts/tests/test_main.py
  solarforecastarbiter/reference_forecasts/tests/test_models.py
Labels: bug, enhancement, referencefx
