Repository SolarArbiter/solarforecastarbiter-core, pull requests merged in 2019-11, with the labels that each got.

#235 Add aggregates to datamodel
  docs/source/api.rst
  docs/source/whatsnew/1.0.0b2.rst
  solarforecastarbiter/conftest.py
  solarforecastarbiter/datamodel.py
  solarforecastarbiter/io/api.py
  solarforecastarbiter/io/tests/test_api.py
  solarforecastarbiter/tests/test_datamodel.py
Labels: datamodel

#230 Metrics: add KSI, OVER, CPI
  docs/source/api.rst
  docs/source/whatsnew/1.0.0b2.rst
  requirements.txt
  solarforecastarbiter/metrics/deterministic.py
  solarforecastarbiter/metrics/tests/test_deterministic.py
Labels: enhancement, metrics

#239 fix processed fx obs handling in timeseries, scatter
  docs/source/whatsnew/1.0.0b2.rst
  solarforecastarbiter/reports/figures.py
  solarforecastarbiter/reports/main.py
  solarforecastarbiter/reports/template.py
Labels: bug, reports

#240 Add GEFS reference forecasts for select networks
  docs/source/whatsnew/1.0.0b2.rst
  setup.py
  solarforecastarbiter/conftest.py
  solarforecastarbiter/datamodel.py
  solarforecastarbiter/io/api.py
  solarforecastarbiter/io/reference_observations/common.py
  solarforecastarbiter/io/reference_observations/crn.py
  solarforecastarbiter/io/reference_observations/default_forecasts.py
  solarforecastarbiter/io/reference_observations/midc.py
  solarforecastarbiter/io/reference_observations/rtc.py
  solarforecastarbiter/io/reference_observations/solrad.py
  solarforecastarbiter/io/reference_observations/srml.py
  solarforecastarbiter/io/reference_observations/surfrad.py
  solarforecastarbiter/io/reference_observations/tests/test_common.py
  solarforecastarbiter/reference_forecasts/main.py
  solarforecastarbiter/reference_forecasts/models.py
  solarforecastarbiter/reference_forecasts/tests/test_main.py
  solarforecastarbiter/tests/test_datamodel.py
Labels: IO, enhancement, referencefx

#241 handle long names in report figures and tables
  docs/source/whatsnew/1.0.0b2.rst
  solarforecastarbiter/reports/figures.py
  solarforecastarbiter/reports/template.py
  solarforecastarbiter/reports/tests/test_figures.py
Labels: bug, reports

#243 improve legend layout
  docs/source/whatsnew/1.0.0b2.rst
  solarforecastarbiter/reports/figures.py
Labels: bug, reports

#244 retain forecast order in metric cds creation
  docs/source/whatsnew/1.0.0b2.rst
  solarforecastarbiter/reports/figures.py
  solarforecastarbiter/reports/tests/test_figures.py
Labels: bug, reports

#245 expand contributing guide
  .github/CONTRIBUTING.md
  README.md
  docs/source/contributing.rst
  docs/source/installation.rst
  docs/source/whatsnew/1.0.0b2.rst
  system_sketch.jpg
  system_sketch.png
Labels: enhancement

#246 add missing datamodel.Report and more classes to api.rst
  docs/source/api.rst
  docs/source/whatsnew/1.0.0b2.rst
Labels: bug, documentation

#202 Add probabilistic forecast metrics
  docs/source/api.rst
  docs/source/whatsnew/1.0.0b2.rst
  solarforecastarbiter/metrics/probabilistic.py
  solarforecastarbiter/metrics/tests/test_probabilistic.py
Labels: enhancement, metrics

#249 Fixes to report CLI and to/from dict
  docs/source/api.rst
  docs/source/whatsnew/1.0.0b2.rst
  solarforecastarbiter/cli.py
  solarforecastarbiter/conftest.py
  solarforecastarbiter/datamodel.py
  solarforecastarbiter/io/api.py
  solarforecastarbiter/io/tests/test_api.py
  solarforecastarbiter/tests/data/report_metadata.json
  solarforecastarbiter/tests/test_cli.py
  solarforecastarbiter/tests/test_datamodel.py
Labels: bug, reports

#255 MIDC csv parsing errors
  docs/source/whatsnew/1.0.0b3.rst
  docs/source/whatsnew/index.rst
  solarforecastarbiter/io/reference_observations/midc.py
Labels: IO, bug

#256 add capability to analyze aggregates to reports
  docs/source/api.rst
  docs/source/whatsnew/1.0.0b3.rst
  solarforecastarbiter/conftest.py
  solarforecastarbiter/datamodel.py
  solarforecastarbiter/io/api.py
  solarforecastarbiter/io/tests/test_api.py
  solarforecastarbiter/metrics/preprocessing.py
  solarforecastarbiter/metrics/tests/test_preprocessing.py
  solarforecastarbiter/reports/figures.py
  solarforecastarbiter/reports/main.py
  solarforecastarbiter/reports/template.py
  solarforecastarbiter/reports/templates/template.md
  solarforecastarbiter/reports/tests/test_reports_main.py
  solarforecastarbiter/tests/test_cli.py
  solarforecastarbiter/tests/test_datamodel.py
Labels: enhancement, reports

#260 Adjust functions that will be used in scheduled jobs
  docs/source/api.rst
  docs/source/whatsnew/1.0.0b3.rst
  solarforecastarbiter/conftest.py
  solarforecastarbiter/datamodel.py
  solarforecastarbiter/io/api.py
  solarforecastarbiter/io/tests/test_api.py
  solarforecastarbiter/reference_forecasts/main.py
  solarforecastarbiter/reference_forecasts/tests/test_main.py
  solarforecastarbiter/reports/main.py
  solarforecastarbiter/reports/tests/test_reports_main.py
  solarforecastarbiter/tests/test_datamodel.py
  solarforecastarbiter/validation/tasks.py
  solarforecastarbiter/validation/tests/test_validation_tasks.py
Labels: bug, enhancement, referencefx, reports, validation

#257 Metrics: add CRPS
  docs/source/api.rst
  docs/source/whatsnew/1.0.0b3.rst
  solarforecastarbiter/metrics/probabilistic.py
  solarforecastarbiter/metrics/tests/test_probabilistic.py
Labels: metrics

#263 metrics: standardize input naming + ordering
  docs/source/whatsnew/1.0.0b3.rst
  solarforecastarbiter/metrics/deterministic.py
  solarforecastarbiter/metrics/probabilistic.py
  solarforecastarbiter/metrics/tests/test_deterministic.py
  solarforecastarbiter/metrics/tests/test_probabilistic.py
Labels: metrics

#261 metrics: add valuation metrics
  docs/source/api.rst
  docs/source/whatsnew/1.0.0b3.rst
  solarforecastarbiter/metrics/tests/test_valuation.py
  solarforecastarbiter/metrics/valuation.py
Labels: metrics
