Repository SolarArbiter/solarforecastarbiter-core, pull requests merged in 2020-10, with the labels that each got.

#581 Plotly axis and title formatting issues
  docs/source/whatsnew/1.0.0rc4.rst
  solarforecastarbiter/plotting/timeseries.py
  solarforecastarbiter/reports/figures/plotly_figures.py
Labels: bug

#582 Adjust plotly x_label_height_factor
  docs/source/whatsnew/1.0.0rc4.rst
  solarforecastarbiter/reports/figures/plotly_figures.py
  solarforecastarbiter/reports/figures/tests/test_plotly_figures.py
Labels: bug

#584 fetch upgraded GEFS
  docs/source/whatsnew/1.0.0rc4.rst
  solarforecastarbiter/io/fetch/nwp.py
  solarforecastarbiter/io/tests/data/gefs/2020/10/03/00/gefs_avg.nc
  solarforecastarbiter/io/tests/data/gefs/2020/10/03/00/gefs_c00.nc
  solarforecastarbiter/io/tests/data/gefs/2020/10/03/00/gefs_p01.nc
  solarforecastarbiter/io/tests/data/gefs/2020/10/03/00/gefs_p02.nc
  solarforecastarbiter/io/tests/data/gefs/2020/10/03/00/gefs_p03.nc
  solarforecastarbiter/io/tests/data/gefs/2020/10/03/00/gefs_p04.nc
  solarforecastarbiter/io/tests/data/gefs/2020/10/03/00/gefs_p05.nc
  solarforecastarbiter/io/tests/data/gefs/2020/10/03/00/gefs_p06.nc
  solarforecastarbiter/io/tests/data/gefs/2020/10/03/00/gefs_p07.nc
  solarforecastarbiter/io/tests/data/gefs/2020/10/03/00/gefs_p08.nc
  solarforecastarbiter/io/tests/data/gefs/2020/10/03/00/gefs_p09.nc
  solarforecastarbiter/io/tests/data/gefs/2020/10/03/00/gefs_p10.nc
  solarforecastarbiter/io/tests/data/gefs/2020/10/03/00/gefs_p11.nc
  solarforecastarbiter/io/tests/data/gefs/2020/10/03/00/gefs_p12.nc
  solarforecastarbiter/io/tests/data/gefs/2020/10/03/00/gefs_p13.nc
  solarforecastarbiter/io/tests/data/gefs/2020/10/03/00/gefs_p14.nc
  solarforecastarbiter/io/tests/data/gefs/2020/10/03/00/gefs_p15.nc
  solarforecastarbiter/io/tests/data/gefs/2020/10/03/00/gefs_p16.nc
  solarforecastarbiter/io/tests/data/gefs/2020/10/03/00/gefs_p17.nc
  solarforecastarbiter/io/tests/data/gefs/2020/10/03/00/gefs_p18.nc
  solarforecastarbiter/io/tests/data/gefs/2020/10/03/00/gefs_p19.nc
  solarforecastarbiter/io/tests/data/gefs/2020/10/03/00/gefs_p20.nc
  solarforecastarbiter/io/tests/data/gefs/2020/10/03/00/gefs_spr.nc
  solarforecastarbiter/reference_forecasts/models.py
  solarforecastarbiter/reference_forecasts/tests/test_models.py
Labels: IO, referencefx

#585 Adjust templating and plotting to allow for partial reports as returned by the API
  docs/source/whatsnew/1.0.0rc4.rst
  solarforecastarbiter/reports/figures/plotly_figures.py
  solarforecastarbiter/reports/figures/tests/conftest.py
  solarforecastarbiter/reports/figures/tests/test_plotly_figures.py
  solarforecastarbiter/reports/template.py
  solarforecastarbiter/reports/templates/html/body.html
  solarforecastarbiter/reports/tests/test_template.py
Labels: enhancement, reports

#586 set showlegend when plotting forecast timeseries to ensure legend exi…
  solarforecastarbiter/reports/figures/plotly_figures.py
Labels: bug

#580 refactor preprocessing resampling, validation, and alignment
  docs/source/api.rst
  docs/source/whatsnew/1.0.0rc4.rst
  docs/source/whatsnew/index.rst
  solarforecastarbiter/conftest.py
  solarforecastarbiter/datamodel.py
  solarforecastarbiter/io/tests/test_api.py
  solarforecastarbiter/metrics/preprocessing.py
  solarforecastarbiter/metrics/tests/test_preprocessing.py
  solarforecastarbiter/validation/quality_mapping.py
Labels: enhancement, metrics, validation

#588 Report table styles
  docs/source/whatsnew/1.0.0rc4.rst
  solarforecastarbiter/reports/templates/html/base.html
  solarforecastarbiter/reports/templates/html/body.html
  solarforecastarbiter/reports/templates/html/macros.j2
  solarforecastarbiter/reports/templates/html/metrics_meta_table.html
  solarforecastarbiter/reports/templates/html/obsfx_table.html
  solarforecastarbiter/reports/tests/test_macros.py
  solarforecastarbiter/reports/tests/test_template.py
Labels: bug

#591 Allow uncertainty to be null
  docs/source/whatsnew/1.0.0rc4.rst
  solarforecastarbiter/conftest.py
  solarforecastarbiter/datamodel.py
  solarforecastarbiter/io/reference_observations/common.py
  solarforecastarbiter/io/reference_observations/pvdaq_reference_sites.json
  solarforecastarbiter/io/reference_observations/srml_reference_sites.json
  solarforecastarbiter/io/reference_observations/tests/conftest.py
  solarforecastarbiter/io/reference_observations/tests/test_common.py
  solarforecastarbiter/tests/test_datamodel.py
Labels: datamodel, enhancement

#592 add seasons metric category
  LICENSES/XARRAY_LICENSE
  docs/source/whatsnew/1.0.0rc4.rst
  solarforecastarbiter/datamodel.py
  solarforecastarbiter/metrics/calculator.py
  solarforecastarbiter/metrics/tests/test_calculator.py
Labels: enhancement

#594 Use loky to manage processes when fetching nwp files
  docs/source/whatsnew/1.0.0rc4.rst
  requirements-test.txt
  requirements.txt
  setup.py
  solarforecastarbiter/cli.py
  solarforecastarbiter/io/fetch/__init__.py
  solarforecastarbiter/io/fetch/tests/test_init.py
  solarforecastarbiter/tests/test_cli.py
Labels: IO, bug

#595 fix ensure_timestamps raising on bad args
  docs/source/whatsnew/1.0.0rc4.rst
  solarforecastarbiter/io/tests/test_io_utils.py
  solarforecastarbiter/io/utils.py
Labels: enhancement

#596 validate interval label, value type, and aggregate type in datamodel
  docs/source/whatsnew/1.0.0rc4.rst
  solarforecastarbiter/conftest.py
  solarforecastarbiter/datamodel.py
  solarforecastarbiter/io/tests/test_api.py
  solarforecastarbiter/reference_forecasts/main.py
  solarforecastarbiter/reference_forecasts/tests/test_fx_utils.py
  solarforecastarbiter/reference_forecasts/tests/test_main.py
  solarforecastarbiter/reference_forecasts/tests/test_persistence.py
  solarforecastarbiter/tests/test_datamodel.py
  solarforecastarbiter/validation/tests/test_validation_tasks.py
Labels: datamodel, enhancement

#597 avoid report logs in sentry
  docs/source/whatsnew/1.0.0rc4.rst
  solarforecastarbiter/reports/templates/html/pending.html
  solarforecastarbiter/tests/test_utils.py
  solarforecastarbiter/utils.py
Labels: bug, reports

#598 add constant_value_units for prob. forecasts
  docs/source/whatsnew/1.0.0rc4.rst
  solarforecastarbiter/datamodel.py
  solarforecastarbiter/tests/test_datamodel.py
Labels: datamodel, enhancement

#599 avoid stacking in total metric plots
  docs/source/whatsnew/1.0.0rc4.rst
  solarforecastarbiter/reports/figures/plotly_figures.py
Labels: bug, reports

#601 Download metadata as json and resampled timeseries as csv
  docs/source/whatsnew/1.0.0rc4.rst
  solarforecastarbiter/reports/template.py
  solarforecastarbiter/reports/templates/html/body.html
  solarforecastarbiter/reports/templates/html/load_metadata.html
  solarforecastarbiter/reports/templates/html/macros.j2
  solarforecastarbiter/reports/tests/test_template.py
Labels: enhancement, reports

#600 break up large requests
  docs/source/api.rst
  docs/source/whatsnew/1.0.0rc4.rst
  solarforecastarbiter/io/api.py
  solarforecastarbiter/io/tests/test_api.py
  solarforecastarbiter/reports/tests/test_reports_main.py
Labels: IO, enhancement

#604 Add BSRN reference data
  docs/source/api.rst
  docs/source/reference-observations.rst
  docs/source/whatsnew/1.0.0rc4.rst
  solarforecastarbiter/io/reference_observations/bsrn.py
  solarforecastarbiter/io/reference_observations/reference_data.py
  solarforecastarbiter/io/reference_observations/sfa_reference_sites.csv
  solarforecastarbiter/io/reference_observations/tests/test_ref_bsrn.py
Labels: IO

#602 fix report quality flag tables
  docs/source/whatsnew/1.0.0rc4.rst
  solarforecastarbiter/conftest.py
  solarforecastarbiter/metrics/preprocessing.py
  solarforecastarbiter/metrics/tests/test_preprocessing.py
  solarforecastarbiter/reports/template.py
  solarforecastarbiter/reports/templates/data_resampling_postamble
  solarforecastarbiter/reports/templates/data_resampling_preamble
  solarforecastarbiter/reports/templates/data_validation_post_text
  solarforecastarbiter/reports/templates/data_validation_pre_text
  solarforecastarbiter/reports/templates/html/body.html
  solarforecastarbiter/reports/templates/html/macros.j2
  solarforecastarbiter/reports/templates/pdf/base.tex
  solarforecastarbiter/reports/templates/pdf/macros.j2
  solarforecastarbiter/reports/tests/test_macros.py
Labels: reports, validation

#605 metrics: add CRPSS
  docs/source/api.rst
  docs/source/whatsnew/1.0.0rc4.rst
  solarforecastarbiter/metrics/probabilistic.py
  solarforecastarbiter/metrics/tests/test_calculator.py
  solarforecastarbiter/metrics/tests/test_probabilistic.py
Labels: enhancement, metrics

#606 summary stats to reports
  docs/source/api.rst
  docs/source/whatsnew/1.0.0rc4.rst
  solarforecastarbiter/conftest.py
  solarforecastarbiter/datamodel.py
  solarforecastarbiter/metrics/calculator.py
  solarforecastarbiter/metrics/summary.py
  solarforecastarbiter/metrics/tests/test_calculator.py
  solarforecastarbiter/reports/figures/tests/test_bokeh_figures.py
  solarforecastarbiter/reports/figures/tests/test_plotly_figures.py
  solarforecastarbiter/reports/main.py
  solarforecastarbiter/reports/template.py
  solarforecastarbiter/reports/templates/html/body.html
  solarforecastarbiter/reports/templates/html/load_metrics.html
  solarforecastarbiter/reports/templates/html/macros.j2
  solarforecastarbiter/reports/templates/pdf/base.tex
  solarforecastarbiter/reports/templates/pdf/macros.j2
  solarforecastarbiter/reports/tests/test_macros.py
  solarforecastarbiter/reports/tests/test_template.py
Labels: enhancement, reports

#607 two validation results tables in reports, ValidationResult.before_resample
  docs/source/whatsnew/1.0.0rc4.rst
  solarforecastarbiter/conftest.py
  solarforecastarbiter/datamodel.py
  solarforecastarbiter/metrics/preprocessing.py
  solarforecastarbiter/metrics/tests/test_preprocessing.py
  solarforecastarbiter/reports/template.py
  solarforecastarbiter/reports/templates/data_resampling_preamble
  solarforecastarbiter/reports/templates/data_validation_pre_text
  solarforecastarbiter/reports/templates/html/body.html
  solarforecastarbiter/reports/templates/html/macros.j2
  solarforecastarbiter/reports/templates/pdf/macros.j2
  solarforecastarbiter/reports/tests/test_macros.py
Labels: reports, validation

#608 metrics: test unequal dist for CRPSS
  solarforecastarbiter/metrics/tests/test_probabilistic.py
Labels: metrics
