Repository SolarArbiter/solarforecastarbiter-core, pull requests merged in 2020-02, with the labels that each got.

#328 Beta 4 doc changes
  docs/source/api.rst
  docs/source/whatsnew/1.0.0b4.rst
  docs/source/whatsnew/index.rst
  solarforecastarbiter/datamodel.py
  solarforecastarbiter/io/api.py
  solarforecastarbiter/metrics/deterministic.py
  solarforecastarbiter/metrics/valuation.py
  solarforecastarbiter/reports/figures.py
  solarforecastarbiter/utils.py
Labels: documentation

#330 retrieve units from processed_forecasts_observations instead of objec…
  solarforecastarbiter/reports/figures.py
Labels: bug, reports

#331 make load_report_values convienence function
  docs/source/api.rst
  docs/source/whatsnew/1.0.0b4.rst
  solarforecastarbiter/io/api.py
  solarforecastarbiter/io/tests/test_io_utils.py
  solarforecastarbiter/io/utils.py
Labels: IO, enhancement

#332 move metric table out of metric-plot-wrapper, so it isn't clobbered b…
  solarforecastarbiter/reports/templates/body.html
Labels: bug, reports

#333 make unique processed fxobs names and update tables
  docs/source/whatsnew/1.0.0b4.rst
  solarforecastarbiter/metrics/preprocessing.py
  solarforecastarbiter/metrics/tests/test_preprocessing.py
  solarforecastarbiter/reports/templates/body.html
  solarforecastarbiter/reports/templates/obsfx_table.html
Labels: bug, reports

#335 Update requirements and fix issues from upgrade
  docs/source/whatsnew/1.0.0b4.rst
  requirements-test.txt
  requirements.txt
  setup.py
  solarforecastarbiter/io/nwp.py
  solarforecastarbiter/io/tests/test_api.py
  solarforecastarbiter/io/tests/test_io_utils.py
  solarforecastarbiter/io/utils.py
  solarforecastarbiter/metrics/preprocessing.py
  solarforecastarbiter/metrics/tests/test_calculator.py
  solarforecastarbiter/metrics/tests/test_preprocessing.py
  solarforecastarbiter/plotting/tests/test_plotting_utils.py
  solarforecastarbiter/plotting/tests/test_timeseries.py
  solarforecastarbiter/pvmodel.py
  solarforecastarbiter/reference_forecasts/tests/test_forecast.py
  solarforecastarbiter/reference_forecasts/tests/test_persistence.py
  solarforecastarbiter/tests/test_utils.py
  solarforecastarbiter/validation/tests/test_validator.py
Labels: bug, enhancement

#338 Add notebook to create reference reports
  docs/source/whatsnew/1.0.0b4.rst
  examples/Reference Report Creation.ipynb
  solarforecastarbiter/datamodel.py
  solarforecastarbiter/io/api.py
  solarforecastarbiter/io/tests/test_api.py
  solarforecastarbiter/reports/figures.py
  solarforecastarbiter/tests/test_datamodel.py
Labels: bug, enhancement, reports

#342 Fix fetching SRML
  docs/source/whatsnew/1.0.0b5.rst
  docs/source/whatsnew/index.rst
  solarforecastarbiter/io/reference_observations/srml.py
  solarforecastarbiter/io/reference_observations/tests/test_srml.py
Labels: IO, bug

#345 Remove phantomjs in favor of chromedriver for SVG generation
  azure-pipelines.yml
  docs/source/whatsnew/1.0.0b5.rst
  solarforecastarbiter/cli.py
  solarforecastarbiter/reports/figures.py
  solarforecastarbiter/reports/tests/test_figures.py
  solarforecastarbiter/tests/test_cli.py
Labels: bug, reports

#349 revert to using PhantomJS but kill cleanly
  azure-pipelines.yml
  docs/source/whatsnew/1.0.0b5.rst
  solarforecastarbiter/reports/figures.py
  solarforecastarbiter/reports/tests/test_figures.py
Labels: bug, reports

#348 metrics: add event forecast metrics
  docs/source/api.rst
  docs/source/whatsnew/1.0.0b5.rst
  solarforecastarbiter/metrics/event.py
  solarforecastarbiter/metrics/tests/test_event.py
Labels: enhancement, metrics
