Repository SolarArbiter/solarforecastarbiter-core, pull requests merged in 2020-01, with the labels that each got.

#301 datamodel: add `__check_metrics__()`
  docs/source/whatsnew/1.0.0b4.rst
  solarforecastarbiter/datamodel.py
  solarforecastarbiter/tests/test_datamodel.py
Labels: enhancement, metrics

#297 metrics: calculator: handle ending interval label
  docs/source/whatsnew/1.0.0b4.rst
  solarforecastarbiter/metrics/calculator.py
  solarforecastarbiter/metrics/tests/test_calculator.py
  solarforecastarbiter/reports/figures.py
Labels: bug

#303 metrics: preprocessing: clarify `interval_label` mismatch behavior
  docs/source/whatsnew/1.0.0b4.rst
  solarforecastarbiter/metrics/preprocessing.py
  solarforecastarbiter/metrics/tests/test_preprocessing.py
Labels: documentation

#291 Refactor reports
  docs/source/api.rst
  docs/source/whatsnew/1.0.0b3.rst
  docs/source/whatsnew/1.0.0b4.rst
  requirements.txt
  solarforecastarbiter/cli.py
  solarforecastarbiter/conftest.py
  solarforecastarbiter/datamodel.py
  solarforecastarbiter/io/api.py
  solarforecastarbiter/io/tests/test_api.py
  solarforecastarbiter/io/tests/test_io_utils.py
  solarforecastarbiter/io/utils.py
  solarforecastarbiter/metrics/calculator.py
  solarforecastarbiter/metrics/preprocessing.py
  solarforecastarbiter/metrics/tests/test_calculator.py
  solarforecastarbiter/metrics/tests/test_preprocessing.py
  solarforecastarbiter/reports/figures.py
  solarforecastarbiter/reports/main.py
  solarforecastarbiter/reports/template.py
  solarforecastarbiter/reports/templates/base.html
  solarforecastarbiter/reports/templates/body.html
  solarforecastarbiter/reports/templates/head.html
  solarforecastarbiter/reports/templates/macros.j2
  solarforecastarbiter/reports/templates/metrics_date.md
  solarforecastarbiter/reports/templates/metrics_day.md
  solarforecastarbiter/reports/templates/metrics_hour.md
  solarforecastarbiter/reports/templates/metrics_month.md
  solarforecastarbiter/reports/templates/metrics_total.md
  solarforecastarbiter/reports/templates/metrics_weekday.md
  solarforecastarbiter/reports/templates/metrics_year.md
  solarforecastarbiter/reports/templates/obsfx_table.html
  solarforecastarbiter/reports/templates/template.md
  solarforecastarbiter/reports/templates/versions.html
  solarforecastarbiter/reports/tests/test_figures.py
  solarforecastarbiter/reports/tests/test_reports_main.py
  solarforecastarbiter/tests/test_cli.py
  solarforecastarbiter/tests/test_datamodel.py
Labels: enhancement, reports

#306 datamodel.__check__metrics(): support probabilistic forecasts
  docs/source/whatsnew/1.0.0b4.rst
  solarforecastarbiter/datamodel.py
  solarforecastarbiter/tests/test_datamodel.py
Labels: datamodel, metrics

#307 Docstrings
  docs/source/api.rst
  docs/source/whatsnew/1.0.0b4.rst
  solarforecastarbiter/datamodel.py
  solarforecastarbiter/reports/figures.py
  solarforecastarbiter/reports/main.py
  solarforecastarbiter/reports/template.py
Labels: documentation

#311 fix scatter limits w/ nans
  docs/source/whatsnew/1.0.0b4.rst
  solarforecastarbiter/reports/figures.py
  solarforecastarbiter/reports/tests/test_figures.py
Labels: bug, reports

#313 Log errors on failed SVG export
  azure-pipelines.yml
  docs/source/api.rst
  docs/source/whatsnew/1.0.0b4.rst
  requirements-test.txt
  solarforecastarbiter/conftest.py
  solarforecastarbiter/reports/figures.py
  solarforecastarbiter/reports/tests/test_figures.py
  solarforecastarbiter/tests/test_cli.py
Labels: bug, reports

#314 metrics: test timezone behavior
  solarforecastarbiter/metrics/tests/test_calculator.py
  solarforecastarbiter/metrics/tests/test_preprocessing.py
Labels: enhancement, metrics, reports, testing

#316 add checksum function to utils and add field to report metadata
  solarforecastarbiter/datamodel.py
  solarforecastarbiter/tests/test_utils.py
  solarforecastarbiter/utils.py
Labels: enhancement, reports

#320 Data Preprocessing Results and Validation Tracking and Reports
  docs/source/api.rst
  docs/source/whatsnew/1.0.0b4.rst
  solarforecastarbiter/conftest.py
  solarforecastarbiter/datamodel.py
  solarforecastarbiter/metrics/preprocessing.py
  solarforecastarbiter/metrics/tests/test_preprocessing.py
  solarforecastarbiter/reports/template.py
  solarforecastarbiter/reports/templates/body.html
  solarforecastarbiter/reports/templates/macros.j2
  solarforecastarbiter/reports/templates/obsfx_table.html
  solarforecastarbiter/reports/tests/test_macros.py
  solarforecastarbiter/reports/tests/test_template.py
  solarforecastarbiter/tests/test_datamodel.py
  solarforecastarbiter/validation/quality_mapping.py
Labels: enhancement, reports

#318 Add missing report tests
  docs/source/whatsnew/1.0.0b4.rst
  solarforecastarbiter/datamodel.py
  solarforecastarbiter/io/api.py
  solarforecastarbiter/reports/figures.py
  solarforecastarbiter/reports/main.py
  solarforecastarbiter/reports/tests/test_figures.py
  solarforecastarbiter/reports/tests/test_reports_main.py
  solarforecastarbiter/tests/test_datamodel.py
Labels: enhancement, reports, testing

#324 Slight modification of Report
  docs/source/api.rst
  docs/source/whatsnew/1.0.0b4.rst
  solarforecastarbiter/cli.py
  solarforecastarbiter/conftest.py
  solarforecastarbiter/datamodel.py
  solarforecastarbiter/io/api.py
  solarforecastarbiter/io/tests/test_api.py
  solarforecastarbiter/metrics/preprocessing.py
  solarforecastarbiter/metrics/tests/test_preprocessing.py
  solarforecastarbiter/reports/figures.py
  solarforecastarbiter/reports/main.py
  solarforecastarbiter/reports/templates/body.html
  solarforecastarbiter/reports/templates/versions.html
  solarforecastarbiter/reports/tests/test_figures.py
  solarforecastarbiter/reports/tests/test_macros.py
  solarforecastarbiter/reports/tests/test_reports_main.py
  solarforecastarbiter/tests/data/report_metadata.json
  solarforecastarbiter/tests/test_datamodel.py
Labels: reports
